.product-landingpage-header-container {
  background-position: 50% 53%;
  background-size: cover;
  width: 50px;
  height: 320px;
  color: white;
  overflow: hidden;
}

.text-box {
  width: 320px;
}
.text-box h1 {
  color: white;
  font-size: 3em;
  font-family: "Courier New", Courier, monospace;
}
.text-box p {
  margin-top: -15px;
  color: rgb(255, 255, 255);
  letter-spacing: 1.2px;
  font-size: 1.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
